@tailwind base;
@tailwind components;
@tailwind utilities;

.fundo_pokemon {
    background-image: url("/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%  ;
}
@font-face {
    font-family: "Pokemon" ;
    src: url('../fonts/Pokemon\ Solid.ttf') format('opentype');
}
@font-face {
    font-family: "Arcade";
    src: url("../fonts/ARCADECLASSIC.TTF") format('truetype');
}

